# Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

# Import & view data

In [7]:
eval = pd.read_csv('./data/evaluation_data.csv')
train = pd.read_csv('./data/training_data.csv')

# convert to parquet for faster loading in the future
eval.to_parquet('./data/evaluation_data.parquet')
train.to_parquet('./data/training_data.parquet')

c:\Users\3alen\anaconda3\Lib\site-packages\pyarrow\pandas_compat.py:373: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if _pandas_api.is_sparse(col):

In [11]:
print(eval.shape)
eval.head()

(12604600, 69)

,distance_05,customer_digital_activity_04,customer_spend_01,customer_industry_spend_01,customer_industry_spend_02,customer_industry_spend_03,customer_industry_spend_04,customer_industry_spend_05,customer_spend_02,customer_spend_03,...,merchant_profile_02,merchant_spend_09,merchant_profile_03,customer_digital_activity_01,merchant_spend_10,customer_profile_03,customer_digital_activity_02,customer_profile_04,customer,merchant
0,1.621171,NaN,112.3340,80.5525,9.0,966.63,12.0,10.0,4.0,41.0,...,0.437500,26299.0,4777.0,0.8,33.30,72.268283,7.0,423.0,467915,599167
1,2.441944,NaN,112.3340,NaN,NaN,NaN,NaN,NaN,4.0,41.0,...,0.397059,7122.0,4803.0,0.8,793.29,72.268283,7.0,423.0,467915,686617
2,2.438082,NaN,112.3340,71.1925,3.0,284.77,4.0,4.0,4.0,41.0,...,NaN,7222.0,14860.0,0.8,100.00,72.268283,7.0,423.0,467915,829193
3,2.072182,NaN,112.3340,NaN,NaN,NaN,NaN,NaN,4.0,41.0,...,0.142857,11410.0,11968.0,0.8,252.38,72.268283,7.0,423.0,467915,1077034
4,2.380853,NaN,302.7925,NaN,NaN,NaN,NaN,NaN,3.0,37.0,...,0.100000,1847.0,5842.0,0.8,87.50,72.268283,7.0,423.0,467915,876647

In [12]:
print(train.shape)
train.head()

(12229978, 71)

,ind_recommended,activation,customer_digital_activity_04,customer_spend_01,customer_industry_spend_01,customer_industry_spend_02,customer_industry_spend_03,customer_industry_spend_04,customer_industry_spend_05,customer_spend_02,...,merchant_spend_09,merchant_profile_03,customer_digital_activity_01,merchant_spend_10,customer_profile_03,customer_digital_activity_02,customer_profile_04,distance_05,customer,merchant
0,0,0,NaN,107.215862,26.686594,74.0,3682.75,138.0,111.0,14.0,...,49466.0,65923.0,0.000000,29.180,58.434969,32.500000,86.0,15.856826,168972,152285
1,0,0,NaN,35.552000,50.928261,3.0,1171.35,23.0,17.0,2.0,...,3638.0,7801.0,0.419355,28.465,5.392089,7.000000,125.0,6.998555,212404,39032
2,0,0,NaN,31.623103,48.837872,19.0,2295.38,47.0,42.0,11.0,...,3912.0,12868.0,0.836364,421.500,33.780445,0.000000,180.0,1.753009,225178,7439
3,0,0,NaN,112.277391,NaN,NaN,NaN,NaN,NaN,16.0,...,28919.0,23553.0,0.952381,50.000,37.340085,28.666667,134.0,9.000063,183948,485069
4,1,0,NaN,448.427273,NaN,NaN,NaN,NaN,NaN,5.0,...,1086.0,308.0,0.754386,69.509,77.794164,15.000000,114.0,1.767939,210107,536004

NaN values spread across different columns, have to think about how to deal with this without losing too much data.